.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}
.region{
  margin-top: 1rem;
}
.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style-type: none;
  padding: 1rem 5rem;
}
.pokemonName{
  border: 1px solid #383838;
  padding: .5rem;

}
.footer, .presentation {
background-color: rgb(26, 26, 26, .5);
padding: 1.5rem

}
.sign{
  font-weight: bold;
  font-size: 1.3rem;
}



@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }


  .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
